<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>GPA取得ツール</h1>
  <form action="task" method="POST">
    <div>
      UserId:<input type="text" name="userid" value="">
    </div>
    <div>
      Password:
      <input type="password" name="password" size="10" >
    </div>
    <div>
      <input type="submit" value="GPA取得しちゃう〜??">
    </div>
  </form>
</body>
</html>
